button.submit {
  float: right;
}

form#cms {
  margin-top: 50px;
}

#cms textarea {
  resize: none;
}

.panel-heading button.delete,
button.edit {
  float: right;
  margin: 5px;
}

.top-30 {
  margin-top: 30px;
}

.jumbotron h1 {
  font-size: 52px;
  text-align: center;
  margin-top: -21px;
}

.jumbotron p {
  margin-bottom: -4px;
  font-size: 20px;
  font-weight: 200;
  text-align: center;
}